<body>
<form  [formGroup]="myForm" action method="post" (ngSubmit)="onSubmit()"  #uploadForm="ngForm"  >
  
    <h1><strong>Upload item</strong> for rent</h1>
    
    <div class="form-group" >
      <label for="title">Title <span>Use title case to get a better result</span></label>
      <input type="text" name="title" id="title" class="form-controll"  [(ngModel)]="uploadItem.title" required/>    
    </div>
    <div class="form-group">
      <label for="caption">Description <span>This caption should be descriptive</span></label>
      <textarea type="text" name="caption" id="caption" class="form-controll"  [(ngModel)]="uploadItem.description" ></textarea>
    </div>
    <div class="form-group">
      <label for="caption">Price <span>in Egyption pound</span></label>
      <input type="text" name="caption" id="caption" class="form-controll"  [(ngModel)]="uploadItem.price" required/>
    </div>
    <div class="form-group">
      <label for="country"><strong>Category</strong></label>
      <select class="form-controll" id="country" required>
           <option  *ngFor="let category of categories"  [value]="category">{{category}}</option>
      </select>
    </div>
    
    <div class="form-group file-area">
          <label for="images">Images <span>Your images should be at least 400x300 wide</span></label>
      <input formControlName="images" id="images"  type="file" class="form-control" (click)="onFileChange($event)">
      <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
      
      <input type="button"  value="upload">
      
    </div>
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
    </div>
    

    <div class="form-group">
      <button type="submit" [disabled]="!uploadForm.form.valid">Upload images</button>
    </div>
   
  
  

    <router-outlet></router-outlet>
  </form>


 
  <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
  
  <!--<a  class="back-to-article" target="_blank" routerLink="/home">back to Home</a>-->
  <a  class="back-to-article" routerLink="/home">back to Home</a>
  
  
  </body>
  

    
  
  
  
  