<nav class="navbar2">
<nav class="navbar">
    <div class="nav">
        <img src="/../assets/images/222.png" class="brand-logo" alt="">
        <div class="nav-items">
            <div class="search">
                <input type="text" class="search-box" placeholder="search brand, product">
                <button class="search-btn">search</button>
            </div>
            <a href="/home"><img src="/../assets/images/1.png" alt=""></a>
            <div class="dropdown">
                <a class="dropbtn"><img src="/../assets/images/2.png" alt=""></a>
                <div class="dropdown-content">
                  <a href="/login">Login</a>
                  <a href="/home">Settings</a>
                  <a href="/home">Favourites</a>
                </div>
              </div>
           
        </div>
    </div>
    </nav>
    <ul class="links-container">
        <li class="link-item"><a href="/home" class="link">home</a></li>
        <li class="link-item"><a href="/home" class="link">About Us</a></li>
        <li class="link-item"><a href="/home" class="link">Blogs</a></li>
    </ul>
</nav>