<body>

    <div id="main">
        <!-- header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="left">
                        <div class="mainLogo">
                                <img src="./assets/images/logo.png" alt="logo">
                        </div>

                        <div class="location">
                            <!-- <i class="fas fa-globe-europe"></i> -->
                            <input type="text" placeholder="Location..">
                        </div>

                        <div class="search">
                            <div class="searchFieldDiv">
                                <input type="text" placeholder="Search.." id="searchField">
                            </div>
                            <div class="searchBtnDiv">
                                <button id="searchBtn"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        
                    </div>

                    <div class="right">

                        <div class="signinBtnDiv">
                            <div class="dropdown">
                                <button id="signinBtn" (click)="log(state)" class="showSignoutBtnHover" routerLink='/login'>
                                    {{state}}
                                </button>
                            </div>
                        </div>

                        <div class="sellBtnDiv">
                            <button id="sellBtn" (click)="sell()">sell item</button>
                        </div>
                        
                        <div class="profile" id="userbtn">
                            <button routerLink="/profile" style="color: #2A65EA;"> <i class="far fa-id-badge">USERPROFILE</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="dropdown">
                        <a href="javascript:void(0)" id="browseCategories">Browse by Categories &nbsp; <i
                                class="fas fa-angle-down"></i></a>
                    
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->




        <section class="product" > 
            <h2 class="product-category">Most Viewed</h2>
            <button class="pre-btn" disabled><img src="/../assets/images/arrow.png" alt=""></button>
            <button class="nxt-btn"disabled><img src="/../assets/images/arrow.png" alt=""></button>
            <div class="product-container">

                <div class="product-card" routerLinkActive="active" *ngFor="let post of topPosts;"  [routerLink]="[path]" (click)="view(post.id)">
                    <div class="product-image">

                        <img src="../../../assets/db/{{post.photos[0]}}" class="product-thumb" alt="">
                        <button class="card-btn">view product</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">{{post.title}}</h2>
                        <!-- <p class="product-short-des">a short line about the cloth..</p> -->
                        <span class="price">{{post.price}} EGP</span>
                    </div>
                </div>
                
            </div>
        </section>





        <section class="prod-list ">
            <div>
              <h1 class="align-center">
                Products
              </h1>
            </div>
            
            <!-- <li >
                <img src="{{post.date}}" alt="">
                <div>
                    {{post.title}}
                </div>
                <div>
                    {{post.price}}$
                </div>
                <div>
                    {{post.description}}
                </div>
            </li>
       -->
            <div class="prod-container">
              
      
            <div class="card" routerLinkActive="active" *ngFor="let post of posts;"  [routerLink]="[path]" (click)="view(post.id)">

              <div class="content">
                         
              <div class="title">{{post.title}}</div>
              <div class="image">
                <img height="200rm"
                src = "../../../assets/db/{{post.photos[0]}}"
                />
              </div>
              <div class="text" style="width:15em;font-size: large;  overflow: hidden;
;              text-overflow: ellipsis;height: 3em;">
                
                {{post.description}}
              </div>
              <div class="text" style="font-weight:bold;font-size: xx-large;">
                
                {{post.price}}<sup style="font-weight: normal;font-size:small">EGP</sup>
              </div>
               </div>
               <div class="text" style="font-size: large;color: rgb(81, 77, 77);">
                
                {{post.address}}
              </div>
            <div>
                <button  class="buy-button details">
                  View 
                </button>
            </div>
           
            </div>
      
      
               </div>
            
            
            
          </section>



    </div>