<div class="product_img">


    <div class="image_discription">
        <div class="swiper">
                <img src="../../../assets/db/{{photo}}"> 
        </div>
    
       
    </div>

    <div class="product_details">
        <div class="box">
            <div class="price">
                <h3> {{price}}<sup style="font-weight: normal;font-size:small">EGP</sup></h3>
            </div>
            <span> {{Name}} </span>
            <div class="location">
                <p>{{address}}</p>
                <p>{{date}}</p>
            </div>

            
                <button id="first" class="both">Add to Cart</button>
                <button id="second" class="both" (click)="addToFav()">Add to Favourite</button>
              
        </div>

        <div class="descriptiopn">
            <h3> Descriptiopn </h3>
            <p>{{this.description}}</p>
        </div>


        <div class="box" id="box2">
            <p class="Seller_description"> Seller Description </p>
            <div class="seller_detail">
                <img src="/../assets/images/2.png">
                <div>
                    <h2> {{username}} </h2>
                    <p>Member since {{memberSince}}</p>
                </div>
            </div>
        <!-- /banner -->
<section class="product-details">
    <div class="image-slider" >
        <div class="product-image" style="width: 500px;height: 500px;background-size: cover;position: relative;background-image: url();">
            <!-- '/../assets/images/pr2.jpg' -->
           

        </div>


      


    </div>





