<!-- <head>
    <link rel="stylesheet" href="/../home/home.css">
    <link rel="stylesheet" href="/../home/products.css">
</head> -->
<body>
    <div id="main">
        <!-- header -->
        <header>
            <div class="top">
                <div class="container">
                    <div class="left">
                        <div class="mainLogo">
                                <img src="./assets/images/logo.png" alt="logo">
                            
                        </div>
                        <div class="location">
                            <!-- <i class="fas fa-globe-europe"></i> -->
                            <input type="text" placeholder="Location..">
                        </div>
                        <div class="search">
                            <div class="searchFieldDiv">
                                <input type="text" placeholder="Search.." id="searchField">
                            </div>
                            <div class="searchBtnDiv">
                                <button id="searchBtn"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="right">
                        <div class="signinBtnDiv">
                            <div class="dropdown">
                                <button id="signinBtn" class="showSignoutBtnHover" routerLink='/login'>
                                    Login
                                </button>
                            

                            </div>
                        </div>
                        <div class="sellBtnDiv">
                            <button id="sellBtn">upload item</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="container">
                    <div class="dropdown">
                        <a href="javascript:void(0)" id="browseCategories">Browse by Categories &nbsp; <i
                                class="fas fa-angle-down"></i></a>
                    
                    </div>
                </div>
            </div>
        </header>
        <!-- /header -->

        <!-- banner -->
        <div class="mainBanner" id="mainBanner">
            <img  alt="banner-image" id="mainBannerImg">
        </div>
        <!-- /banner -->
<section class="product-details">
    <div class="image-slider" >
        <div class="product-image" style="width: 500px;height: 500px;background-size: cover;position: relative;background-image: url({{photo}});">
            <!-- '/../assets/images/pr2.jpg' -->
           
        </div>
    </div>
    <section>
        <div class="details">
             <h2 class="product-brand">{{Name}}</h2>
             <p class="product-short-des">{{description}}</p>
             <span class="product-price">Price</span>
             <span class="product-actual-price">{{price}}</span>
             <span class="product-discount">(EGP)</span> 
             <button class="btn cart-btn">add to cart</button>
             <button class="btn">add to Favourites</button>
         </div>
     </section>
</section>
<footer></footer>