<div class="product_img">


    <div class="image_discription">
        <div class="swiper">
                <img src="/../assets/images/pr2.jpg"> 
        </div>
    
       
    </div>

    <div class="product_details">
        <div class="box">
            <div class="price">
                <h3> 150</h3>
            </div>
            <span> Mi TV Stick </span>
            <div class="location">
                <p>Ghatkopar West, Mumbai, Maharashtra</p>
                <p>Today</p>
            </div>

            
                <button id="first" class="both">Add to Cart</button>
                <button id="second" class="both">Add to Favourite</button>
              
        </div>

        <div class="descriptiopn">
            <h3> Descriptiopn </h3>
            <p>Convert your TV into smart TV using HDMI of your TV. All online platform available downloaded. <br>
                Include MI stick, Bluetooth remote, Power adapter. <br>
                Condition new. <br>
                MRP 3,500</p>
        </div>


        <div class="box" id="box2">
            <p class="Seller_description"> Seller Description </p>
            <div class="seller_detail">
                <img src="/../assets/images/2.png">
                <div>
                    <h2> AsKAki </h2>
                    <p>Member since Nov 2021</p>
                </div>
            </div>
        <!-- /banner -->
<section class="product-details">
    <div class="image-slider" >
        <div class="product-image" style="width: 500px;height: 500px;background-size: cover;position: relative;background-image: url(../../../assets/db/{{photo}});">
            <!-- '/../assets/images/pr2.jpg' -->
           

        </div>


      


    </div>



</div>



