*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background-color: #f2f4f5;
}





/* <!-- =============================== * product img * ============================================ --> */


.product_img{
    width: 1200px;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.mySlides {
    display: none;
  }
.image_discription{
    width: 650px;
}
.image_discription img{
    width: 650px;
    border-radius: 5px;
}.cursor {
  cursor: pointer;
}




/* <!-- =============================== *  descriptiopn *============================================ --> */



.descriptiopn{
 padding-left: 20px;
 border: 1px solid rgb(179,178,178);
 border-radius: 5px;
 background-color: white;
 padding-bottom: 15px;
 margin-top:10px ;
}
.descriptiopn h3{
 padding: 10px 10px 10px 0;
 font-size: 20px;
}
.descriptiopn p{
    line-height: 20px;
    color: rgb(51,51,51);
}





/* <!-- =============================== *  product_details *============================================ --> */

.product_details{
    width: 400px;
    margin-left: 20px;
}



/* <!-- =============================== *  box 1 *============================================ --> */

.box{
    background-color: white;
    border: 1px solid rgb(179, 178, 178);
    border-radius: 5px;
}
.price{
    display: flex;
    justify-content: space-between;
}
.price h3{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.price p{
  font-size: 25px;
  font-weight: normal;
  float: left;
  margin-right: 10px;
  padding: 10px 0 10px 10px;
  cursor: pointer;
}
.box span{
    color: #757674;
    padding: 0 0 10px 10px;
}
.location{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    padding: 15px 10px 15px 10px ;
}

/*  */

.both {
    width: 48%;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Poppins", san-serif;
    border-radius: 10px;
    margin: 15px 0;
    outline: none;
    border: none;
    transition: all ease 0.5s;
    text-transform:initial;
  }
  #first {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #f9ca24;
    color: black;
    cursor: pointer;
  }
  #first:hover {
    border:  solid  white;
  }
  #second {
    margin-left: 1%;
    margin-right: 1%;
    background-color: #f9ca24;
    color: black;
    cursor: pointer;
  }
  #second:hover {
    border:  solid  white;
  }
  




/* <!-- =============================== *  box 2 *============================================ --> */


.seller_detail img{
    width: 55px;
    border-radius: 50%;
    margin: 10px 10px 8px 10px ;
}
.seller_detail{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.Seller_description{
    font-size: 17px;
   color:  #212f34;
   padding: 10px 0 5px 10px;
}
.seller_detail h2{
    font-size: 18px;
}
.seller_detail p{
    font-size: 13px;
}
.box a{
    text-decoration: none;
    color: black;
    padding: 10px 125px;
    border: 2px solid black;
    margin: 10px;
    transition: all 0.3s;
}
.box a:hover{
    border: 4px solid black;
}
#box2{
    height: 120px;
    margin-top: 10px
}





