<div class="box-form">
	<div class="left">
		<div class="overlay">
		</div>
	</div>
	<div class="right">
		<h5>Login</h5>
		<nav>
			<p>Don't have an account? <a routerLink='/signup' routerLinkActive="Active">Create Your Account</a> it takes
				less than a minute</p>
		</nav>
		<form class="inputs" (ngSubmit)="onSubmit()"  #loginForm="ngForm">
			<div class="form-group">
                <input id="email" type="email" class="form-control" id="emailField" [(ngModel)]="login.email" required 
                    placeholder="name@example.com" name="uEmail" #email="ngModel" />
            </div>	
			<div [hidden]="email.valid || email.pristine" class="alert alert-danger"  class="req">Email address is required</div>
			<br>
			<div class="form-group">  
                <input type="password" class="form-control" id="password" [(ngModel)]="login.password" name="password" id="password"
                placeholder="Password" #pswd="ngModel" required />
            </div>
			<div [hidden]="pswd.valid || pswd.pristine" class="alert alert-danger" class="req" >Password is required</div>
			<br><br>
		<button  type="submit" [disabled]="!loginForm.form.valid">Login</button>
		</form>
		
	</div>
	<router-outlet></router-outlet>
</div>
